*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{color: blue;
    font-size: 18px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.wrapper, .wrapper2{
    margin: 15px;
}

.active {
    background-color: #1cb829;
}

.not-active {
    background-color: #d31f1f;
}

.links,.addLinks{
    margin-left: 20px;
    background-color: aquamarine;
    width: 300px;
}

.alert{
    margin-left: 15px;
    margin-bottom: 10px;
    color: #371870;
}

form {
    width: 950px; 
    height: 40px;
    background-color: burlywood; 
}

.add{
    margin: 10px; 
}

.list{
    margin-left: 30px;
}

li{
    height: 30px;
    display: flex;
}

img{
    margin-left: 15px; 
}

button{
    min-width: 20px;
}

.lispan{
    padding-top: 5px;
    padding: 5px 15px 0 15px;
    padding-left: 15px;
    min-width: 260px;
    margin-right: 15px;

}

span{
    display: inline-block;
/* 
    liSpanName.style.width = '200px';
    liSpanName.style.marginRight = '15px';
    liSpanName.style.paddingRight = '15px';
    liSpanName.style.paddingLeft = '15px'; */
}

/* margin-right: 15px; */